<form (ngSubmit)="submitForm()" [formGroup]="patientForm" class="patient-form">
  <div class="form-group">
    <label for="patientName">Patient Name</label>
    <input
      formControlName="patientName"
      type="text"
      id="patientName"
      placeholder="Enter Patient Name"
    />
    <div
      *ngIf="patientForm?.get('patientName')?.hasError('required')"
      class="error-message"
    >
      Patient Name is required.
    </div>
  </div>

  <div class="form-group">
    <label for="referredBy">Referred By</label>
    <select formControlName="referredBy" id="referredBy">
      <option value="">-- Select --</option>
      <option value="Doctor">Doctor</option>
      <option value="Therapist">Therapist</option>
      <!-- Add more options as needed -->
    </select>
    <div
      *ngIf="patientForm?.get('referredBy')?.hasError('required')"
      class="error-message"
    >
      Referred By is required.
    </div>
  </div>

  <div class="form-group">
    <label for="dob">Date of Birth</label>
    <input formControlName="dob" type="date" id="dob" />
    <div
      *ngIf="patientForm?.get('dob')?.hasError('required')"
      class="error-message"
    >
      Date of Birth is required.
    </div>
  </div>

  <button type="submit" [disabled]="!patientForm.valid" class="submit-button">
    Submit
  </button>
</form>
