<table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Start time</th>
        <th scope="col">Duration</th>
        <th scope="col">Service</th>
        <th scope="col">Notes link</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appt of appointments">
        <td>{{appt.title}}</td>
        <td>{{appt.startTime}}</td>
        <td>{{appt.duration}}</td>
        <td>{{appt.service}}</td>
        <td>{{appt.notes}}</td>
        <td>{{appt.status}}</td>
      </tr>
    </tbody>
  </table>